*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Styles */
body {
   min-height:100vh;
   display:flex;
   flex-direction:column;
/* Generic Project Styles  */
    color: #3a3a3a;
    
}
/* Header */
header {
    background-color: red;
    text-align: center;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Ensures main takes up remaining space to push footer*/
    flex:1 0 auto;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}